<h1>ログイン</h1>

<%= render 'shared/error_messages' %>

<%= form_with scope: :session, local: true, url: login_path do |f| %>
  <div class="form-group">
    <%= f.label :name, 'ユーザー名' %>
    <%= f.text_field :name, class: 'form-control', value: flash[:user_name] %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit 'ログイン', class: 'btn btn-success btn-user' %>
<% end %>

<%= link_to 'ユーザー登録はこちら', new_user_path, class: 'btn btn-success btn-user' %>

<%= form_with scope: :session, local: true, url: login_path do |f| %>
  <div class="form--group hidden-form">
    <%= f.label :name, 'ユーザー名' %>
    <%= f.text_field :name, class: 'form-control', value: 'testuser' %>
  </div>
  <div class="form-group hidden-form hidden-form">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control', value: 'sdfjh389sdhfs33' %>
  </div>
  <div>お試し利用はこちら</div>
  <%= f.submit 'テストユーザーログイン', class: 'btn btn-success btn-user test-user-btn' %>
<% end %>