<div class="form-container">
  <div class="form-second-container">

    <%= form_with model: @distance, :html => { :onsubmit => "confirmPoints();" }, local: true do |f| %>
    
    <div class="point-container">
      <!-- <p class=point-label>START</p> -->
      <input type="button" class="btn btn-success point-set-btn" value="①START地点をSET" onclick="ButtonClickSt(createStartMaker);">
      <%= f.label :st_lat, 'Start Lat' %>
      <%= f.number_field :st_lat, step: 0.000001, class: 'form-control' %>
      <%= f.label :st_lng, 'Start Lng' %>
      <%= f.number_field :st_lng, step: 0.000001, class: 'form-control' %>
    
      <!-- <p class=point-label>END</p> -->
      <input type="button" class="btn btn-success point-set-btn" value="②END地点をSET" onclick="ButtonClickEd(createEndMaker);">
      <%= f.label :ed_lat, 'End Lat' %>
      <%= f.number_field :ed_lat, step: 0.000001, class: 'form-control' %>
      <%= f.label :ed_lng, 'End Lng' %>
      <%= f.number_field :ed_lng, step: 0.000001, class: 'form-control' %>
    </div>
      
    <div class="impact-feelings-container">
      <div class="feeling-title">
        <span>感触</span>
      </div>
      <div class="impact-feelings">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class="form-check">
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.label class: 'form-check-label' %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="distance-submit-container">
      <input type="button" class="btn btn-success option-btn" value="GPS↔MAP中心" id="gps-on-off-switch" onclick="gpsOnOff();">
      <input type="button" class="btn btn-success option-btn" value="2地点確認" onclick="confirmPoints();">
      <input type="button" class="btn btn-success option-btn" value="地点クリア" onclick="clearPoints();">
    </div>
      <%= f.button '登録', onclick: 'return confirm("登録してよろしいですか？")', class: 'btn btn-success distance-submit-btn shadow-lg' %>
    <% end %>
  </div>
</div>