<h1>飛距離データ一覧</h1>

<% @distances.each do |distance| %>
  <table class="distance-data-table">
    <tr>
      <td width="90px">
        <div class="distance-container">
          <span>
            <a href="distances/<%= distance.id %>" onclick="location.href = 'distances/<%= distance.id %>'"><%= distance.distance.floor(1) %> yd</a>
          </span>
        </div>
      </td>
      <td colspan="2">
        <div class="badge-container">
          <% if distance == @new_distance %>
            <span class="badge badge-danger">NEW</span>
          <% end %>
          <% distance.tags.each do |tag| %>
            <span class="badge badge-success"><%= tag.name %></span>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="updated_at"><%= distance.updated_at.to_s(:datetime_jp) %></span>
      </td>
      <td width="10px">
        <% if distance.prohibited %>
          <span><a data-confirm="このデータは削除できません。" class="btn btn-success btn-sm" href="#">削除</a></span>
        <% else %>
          <span><%= link_to '削除', distance, method: :delete, data: {confirm: '削除してもよろしいですか？'}, class: 'btn btn-success btn-sm' %></span>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>

<div class="pagination-container">
  <%= paginate @distances %>
</div>
