<h1>飛距離一覧</h1>


<%= render partial: 'form', locals: { distance: @distance } %>

<%= render partial: 'shared/error_messages' %>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<% @distances.each do |distance| %>
  <ul>
    <li><%= distance.distance.floor(1) %></li>
    <% if distance == @new_distance %>
      <li><%= 'NEW' %></li>
    <% end %>
    <% if distance.created_at.strftime('%Y%m%d') == Date.today.strftime('%Y%m%d') %>
      <li><%= 'TODAY' %></li>
    <% end %>
    <li><%= link_to '削除', distance, method: :delete, data: {confirm: '削除してもよろしいですか？'} %></li>
  </ul>
<% end %>

<%= paginate @distances %>
