<div class="new-container">
  <div id="maps" class="map">
     <p>位置情報取得までしばらくお待ちください</p>
  </div>
  
  
  <div class="alert-container">
    <div class="alert-second-container">
      <%= render partial: 'shared/error_messages' %>
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade show">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  
  <%= render partial: 'form', locals: { distance: @distance } %>
  
</div>

<script>
  document.addEventListener('touchstart', function() {}, {passive: true});
  document.addEventListener('touchmove', function() {}, {passive: true});
</script>

<% if Rails.env == 'production' %>
  <script src="https://maps.googleapis.com/maps/api/js?key= <%= Rails.application.credentials.google_maps_api_key %>&callback=initMap" async></script>
<% end %>
<% if Rails.env == 'development' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key_dev %>&callback=initMap" async></script>
<% end %>
