<h1>飛距離データ詳細</h1>

  <table class="distance-data-table">
    <tr>
      <td width="70px">
        <div class="distance-container">
          <span>
            <%= @distance.distance.floor(1) %> yd
          </span>
        </div>
      </td>
      <td colspan="2">
        <div class="badge-container">
          <% if @distance == @new_distance %>
            <span class="badge badge-danger">NEW</span>
          <% end %>
          <% if @distance.created_at.strftime('%Y%m%d') == Date.today.strftime('%Y%m%d') %>
            <span class="badge badge-primary">TODAY</span>
          <% end %>
          <% @distance.tags.each do |tag| %>
            <span class="badge badge-success"><%= tag.name %></span>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="updated_at"><%= @distance.updated_at.to_s(:datetime_jp) %></span>
      </td>
      <td width="10px">
        <% if @current_user.name == 'testuser' %>
          <span><a data-confirm="テストユーザーは削除できません" class="btn btn-success btn-sm" href="#">削除</a></span>
        <% else %>
          <span><%= link_to '削除', @distance, method: :delete, data: {confirm: '削除してもよろしいですか？'}, class: 'btn btn-success btn-sm' %></span>
        <% end %>
      </td>
    </tr>
  </table>
  <div id="maps">
  </div>

  <input type="hidden" id="st_lat" value="<%= @distance.st_lat %>">
  <input type="hidden" id="st_lng" value="<%= @distance.st_lng %>">
  <input type="hidden" id="ed_lat" value="<%= @distance.ed_lat %>">
  <input type="hidden" id="ed_lng" value="<%= @distance.ed_lng %>">

<% if Rails.env == 'production' %>
  <script src="https://maps.googleapis.com/maps/api/js?key= <%= Rails.application.credentials.google_maps_api_key %>&callback=showMap" async></script>
<% end %>
<% if Rails.env == 'development' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key_dev %>&callback=showMap" async></script>
<% end %>
